<div id="blog-share" align="right" style="margin-top: -15px; margin-right: 30px;">
    <ul class="icons">
        <li> <a href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink | safeURL }}" class="icon fa-twitter" target="_blank"><span class="label">Tweet</span></a>
        </li>
        <li> <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | safeURL }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a>
        <li> <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a>
        </li>
        <li> <a href="/blog/index.xml" class="icon fa-rss"><span class="label">RSS</span></a>
        </li>
    </ul>
</div>

<hr style="margin-top: -10px;" />

<div id="blog-footer" style="overflow: hidden; margin-top: -10px;">

<a href="/about">
<img src="/cj.png" style="float: left; margin-right: 8px; height: auto; width: 10%; border-radius: 50%" alt="Headshot of CJ Barker" />
</a>

<a href="/about"><h4>CJ Barker</h4></a>
<p style="font-size: 85%; margin-top: -13px;">Husband, father, technologist, software craftsman, drummer, and fan of photography</p>

</div>
