<footer id="footer">
    <ul class="icons">
        {{with .Site.Params.soundcloud}}
            <li><a href="{{.}}" class="icon fa-soundcloud"><span class="label">SoundCloud</span></a></li> 
        {{end}}

        {{with .Site.Params.github}}
            <li><a href="{{.}}" class="icon fa-github"><span class="label">GitHub</span></a></li>
        {{end}}

        {{with .Site.Params.instagram}}
            <li><a href="{{.}}" class="icon fa-instagram"><span class="label">Instagram</span></a></li> 
        {{end}}

        {{with .Site.Params.linkedin}}
            <li><a href="{{.}}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li> 
        {{end}}

        {{with .Site.Params.twitter}}
            <li><a href="{{.}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li> 
        {{end}}
        
        {{with .Site.Params.email}}
            <li><a href="mailto:{{.}}?subject=CJBarker.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li> 
        {{end}}
    </ul> 
    <ul class="copyright"> 
        <li>&copy; {{ now.Format "2006" }}, CJ Barker</li> 
    </ul> 
</footer>
