<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="google-site-verification" content="wj_Sv0hkTZoloi7J6nYrUl5vrIoHEMtqX1ZhlR3fdu0" />
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">

<title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>

<meta name="description" content="CJ Barker - Father, Software Craftsman, InfoSec Enthusiast, Drummer and a gorilla in a man suit trying to make his way in life." />

<meta name="robots" content="index, follow">
<meta name="author" content="CJ Barker" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ "<!--[if lte IE 8]>" | safeHTML }}
<script src="{{ "js/ie/html5shiv.js" | absURL }}"></script>
{{ "<![endif]-->" | safeHTML }}

<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}" />
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}" />
{{ "<!--[if lte IE 8]>" | safeHTML }}
<link rel="stylesheet" href="{{ "css/ie8.css" | absURL }}" />
{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if lte IE 9]>" | safeHTML }}
<link rel="stylesheet" href="{{ "css/ie9.css" | absURL }}" />
{{ "<![endif]-->" | safeHTML }}
