<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>CJ Barker</h2>
        <p>So it goes.</p>
    </div>
    <a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2><a href="./about" style="text-decoration: none;">About CJ</a></h2>
                <p>Father, technologist, software craftsman, infosec enthusiast, drummer, and fan of photography</p>
                <p>This is my personal website that contains various original intellectual property ranging from writings to music.  <br />The content produced and published here is original and the ownership of this author.</p>
                <em>Opinions expressed here are solely my own and do not express the views or opinions of my employer.</em>
            </header>
            <ul class="icons major">
                <li><span class="icon fa-headphones major style2"><span class="label">Music</span></span></li>
                <li><span class="icon fa-code major style3"><span class="label">Software</span></span></li>
                <li><span class="icon fa-edit major style3"><span class="label">Writing</span></span></li>
                <li><span class="icon fa-camera major style2"><span class="label">Photography</span></span></li>
            </ul>
        </div>
</section>

<!-- Two -->
    <section id="two" class="wrapper alt style2">
        <section class="spotlight">
            <div class="image">
                <img src="{{ "img/pic01.jpg" | absURL }}" alt="IBM System/390 Mainframe" />
            </div>
            <div class="content">
                <a href="./tech"><h2>Technology</h2></a>
                <p>I have spent well over 18 years developing software, leading teams, researching technology, and herding cats all while continually attempting to learn and stay up to speed within this incredible industry.</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image">
                <a href="https://soundcloud.com/cjbarkbark"><img src="{{ "img/pic02.jpg" | absURL }}" alt="Drumset on-stage at Austin City Limits Moody Theater" /></a> </div>
            <div class="content">
                <a href="./music"><h2>Music</h2></a>
                <p>As a drummer, I have been fortunate enough to play and collaborate with some amazing musicians.  Whether it's tracking an album, filling in for a session, or eating baloney on hand while on tour - I have been through a couple rodeos.</p>
            </div>
        </section>
        <section class="spotlight">
            <div class="image">
                <img src="{{ "img/pic03.jpg" | absURL }}" alt="Seattle Great Wheel - Photo of Downtown" />
            </div>
            <div class="content">
                <a href="./photography"><h2>Photography</h2></a>
                <p>I am an avid photographer who is more interested in capturing an image and the moment than obsessing about hardware specs.  I simply enjoy taking photos.</p>
            </div>
        </section>
</section>
