<header id="header" class="alt"> 
        <h1><a href="./">CJ Barker</a></h1> 
        <nav id="nav"> 
            <ul> 
                <li class="special"> <a href="#menu" class="menuToggle"><span>Menu</span></a> 
                    <div id="menu"> 
                        <ul> 
                            <li><a href="/">Home</a></li> 
                            <li><a href="/about">About</a></li> 
                            <!--
                            <li><a href="/blog">Blog</a></li> 
                            -->
                            <li><a href="/tech">Tech</a></li> 
                            <li><a href="/music">Music</a></li> 
                            {{with .Site.Params.instagram}}
                            <li><a href="{{.}}">Photography</a></li> 
                            {{end}}
                        </ul> 
                    </div> 
                </li> 
            </ul> 
        </nav> 
</header> 
